<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>


<p>Первый в мире удобный менеджер флеш-карточек. Именно так.</p>

<% unless @train.nil? %>
<br>
<br>
<br>
<h2> Проверь себя: </h2>
<h1 align="center"> <%= @train.original_text %> </h1>
   <center><%= form_tag card_path do %>
    <div class="input-group">
    <%= text_field_tag :transl %>
    <center> <button>Отправить</button></center>
    <% end %></center>
  </div>
<% end %>
