<p>Первый в мире удобный менеджер флеш-карточек. Именно так.</p>



<% unless @training_card.nil? %>
<br>
<br>
<br>
<h2> Проверь себя: </h2>
<h1 align="center"> <%= @training_card.original_text %> </h1>
   <center><%= form_tag check_translation_card_path(@training_card) do %>
    <div class="input-group">
    <%= text_field_tag :translate%>
    <%= hidden_field_tag :id, @training_card.id %>
    <center> <button>Отправить</button></center>
    <% end %></center>
  </div>
<% end %>

<div class="container">
<% flash.each do |key, value| %>
<h1><div class="alert alert-<%= key %>"><%= value %></div></h1>
</div>
<% end %>
